h1{
    color: red;
}
h2{
    color: blue;
}
.ingredients{
    background-color: yellow;
    color:black;
}
.steps{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}